<!DOCTYPE html>
<html lang="en">

<head>
    <title>Подбор конденсатора</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords"
        content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="Codedthemes" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/pages/waves/css/waves.min.css" type="text/css" media="all">

    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css"
        href="/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

    <link href="/assets/pages/jquery.filer/css/jquery.filer.css" type="text/css" rel="stylesheet" />
    <link href="/assets/pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css" type="text/css"
        rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/assets/css/component.css">

    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="/assets/icon/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
</head>

<body>

    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close"><i
                                                class="ti-close input-group-text"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn"><i
                                                class="ti-search input-group-text"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <img src="/assets/images/logo_alterra.jpg" class="img-radius" alt="User-Profile-Image">
                                    <span>ALTERRA</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="/">
                                            Главная
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/choose_condenser">
                                            Подбор конденсатора
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header" style="min-height: 104px;">


                                </div>

                            </div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="/" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>N</b></span>
                                        <span class="pcoded-mtext">Главная</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/choose_condenser" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-layout-cta-right"></i><b>N</b></span>
                                        <span class="pcoded-mtext">Подбор конденсатора</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">

                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Подбор конденсатора</h5>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="/"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Подбор конденсатора</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Подбор конденсатора</h5>

                                                    </div>
                                                    <form action="/choose_condenser" method="post">
                                                                               
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">&nbsp; t&deg; конденсации</label>
                                                            <div class="col-sm-10">
                                                                <input type="number" class="form-control" id="max_temp"
                                                                    name="max_temp" placeholder="Температура конденсации" required>
                                                                <span class="messages"></span>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">&nbsp; t&deg; воздуха</label>
                                                            <div class="col-sm-10">
                                                                <input type="number" class="form-control" id="min_temp"
                                                                    name="min_temp" placeholder="Температура наружного воздуха" required>
                                                                <span class="messages"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">&nbsp;Производительность</label>
                                                            <div class="col-sm-10">
                                                                <input type="float" class="form-control"
                                                                    name="capacity" id="capacity"
                                                                    placeholder="Производительность конденсатора" required>
                                                                <span class="messages"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">&nbsp;Уровень шума</label>
                                                            <div class="col-sm-10">
                                                                <input type="number" class="form-control"
                                                                    name="noise" id="noise"
                                                                    placeholder="Максимальный уровень шума на 10м, д(Б)А" required>
                                                                <span class="messages"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">&nbsp;Тип фреона</label>
                                                            <div class="col-sm-10">
                                                                <select id="freon" name="freon" class="col-sm-2 col-form-label">
                                                                    {% for x in freon_list%} 
                                                                    <option>{{ x.name }}</option>
                                                                    {% endfor %}
                                                                </select> 
                                                                <span class="messages"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">&nbsp;Переохлаждение</label>
                                                            <div class="col-sm-10">
                                                                <select id="cool" name="cool" class="col-sm-2 col-form-label">
                                                                    {% for x in cool_list%} 
                                                                    <option>{{ x.name }}</option>
                                                                    {% endfor %}
                                                                </select> 
                                                                <span class="messages"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">&nbsp;Относительная &nbsp;влажность</label>
                                                            <div class="col-sm-10">
                                                                <select id="hum" name="hum" class="col-sm-2 col-form-label">
                                                                    {% for x in hum_list%} 
                                                                    <option>{{ x.name }}</option>
                                                                    {% endfor %}
                                                                </select> 
                                                                <span class="messages"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">&nbsp;&#916;t перегрева на нагнетании = 35&deg;C</label>
                                                        </div>   
                                                                                                          
                                                        <div class="form-group row">
                                                            <label class="col-sm-2"></label>
                                                            <div class="col-sm-10">
                                                                <button type="submit"
                                                                    class="btn btn-primary m-b-0">Выполнить подбор</button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                    <div class="card-block">
                                                        <div class="table-responsive">
                                                            <div class="table-content">
                                                                <div class="project-table">
                                                                    <table id="e-product-list"
                                                                        class="table table-striped dt-responsive nowrap">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Конденсатор</th>
                                                                                <th>Производ.</th>
                                                                                <th>Температура<br>конденсации</th>
                                                                                <th>Температура<br>воздуха</th>
                                                                                <th>Уровень<br>шума</th>
                                                                                <th>Расход<br>воздуха</th>
                                                                                <th>Тип<br>фреона</th>
                                                                                <th>Переохл.</th>
                                                                                <th>Влажность</th>
                                                                                <th></th>
                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for capacity in results %}
                                                                            <tr>
                                                                                <td class="pro-name">
                                                                                    <h6>{{ capacity.condenser }}</h6>
                                                                                </td>
                                                                                <td>{{ capacity.capacity }} кВт</td>
                                                                                <td>{{ capacity.max_temp }} &deg;С</td>
                                                                                <td>{{ capacity.min_temp }} &deg;С</td>
                                                                                <td>{{ capacity.noise }} д(Б)А</td>
                                                                                <td>{{ capacity.air_flow }}</td>
                                                                                <td>{{ freon }}</td>
                                                                                <td>{{ cool }}</td>
                                                                                <td>{{ hum }}</td>
                                                                                <td>
                                                                                    <form action="/condenser_choosed_detail/{{ capacity.condenser_id }}/{{ capacity.capacity }}" method="get"
                                                                                    class="d-inline-block">
                                                                                    <button type="submit"
                                                                                        class="btn btn-outline-primary waves-effect waves-light m-r-20">
                                                                                        <i class="icofont icofont-edit f-16"></i>
                                                                                        <span class="m-l-10">Карточка конденсатора</span>
                                                                                    </button>
                                                                                    </form>

                                                                                     <a class="hvr-shrink">
                                                                                        <img src="/assets/images/condenser/{{ capacity.img }}" height="100"
                                                                                     alt="1.JPG">
                                                                                    </a> </td> 
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript" src="/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/js/bootstrap.min.js"></script>

    <script src="/assets/pages/waves/js/waves.min.js"></script>

    <script type="text/javascript" src="/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="/bower_components/modernizr/js/css-scrollbars.js"></script>

    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script src="/assets/pages/jquery.filer/js/jquery.filer.min.js"></script>
    <script src="/assets/pages/filer/custom-filer.js" type="text/javascript"></script>
    <script src="/assets/pages/filer/jquery.fileuploads.init.js" type="text/javascript"></script>

    <script src="/assets/js/classie.js"></script>
    <script src="/assets/js/modalEffects.js"></script>

    <script type="text/javascript" src="/assets/pages/product-list/product-list.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>
    <script src="/assets/js/vertical/vertical-layout.min.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="/assets/js/script.js"></script>
</body>

</html>